
services:
  spring-boot-app:
    image: spring-boot-jwt-auth:latest
    container_name: spring-boot-app
    ports:
      - "8080:8080"
    env_file:
      - .env

  postgres:
    image: postgres:16.4-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: { }
