logging:
  file:
    name: logs/app.log
  level:
    root: INFO
    org.springframework.web: INFO
    sc.snicky.springbootjwtauth: DEBUG


server:
  servlet:
    encoding:
      enabled: true
      force: true
      charset: UTF-8

spring:
  application:
    name: spring-boot-jwt-auth

  jackson:
    property-naming-strategy: SNAKE_CASE

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migrations
    table: flyway_schema_history

  datasource:
    driver-class-name: org.postgresql.Driver

app:
  cors:
    allowed-methods: GET
    allowed-origins: http://localhost:3000
  auth:
    naming:
      refresh-token-cookie: session